/* Custom styles for repository cards */
.repo-card-custom {
  flex: 0 0 48%; /* Don't grow, don't shrink, base width of 48% */
  margin: 1%; /* Add some space between cards */
  box-sizing: border-box;
}

.repo-card-custom .card {
  border: 1px solid var(--global-divider-color);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  height: 100%; /* Make cards in the same row equal height */
  display: flex;
  flex-direction: column;
}

.repo-card-custom .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.repo-card-custom .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.repo-card-custom .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.repo-card-custom .card-text {
  font-size: 0.9rem;
  flex-grow: 1;
}

.repo-card-custom .row-xs-2 {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: var(--global-text-color-light);
}

.repo-language-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

/* On smaller screens, make cards full-width */
@media (max-width: 768px) {
  .repo-card-custom {
    flex: 0 0 98%;
  }
}
